useDynLib(strling, .registration=TRUE)

export(strling_load_native)
export(strling_execute)
export(strling_describe)
export(strling_compile)
export(strling_inspect_target_profile)
export(strling_simply_compile)
export(strling_close)
export(strling_is_closed)
export(strling_source_compile_request)
export(strling_stdlib_helper)
export(strling_simply_builder_request)
export(sl_date_time)
export(sl_email)
export(sl_ip)
export(sl_url)
export(sl_uuid)
