export(strling_literal)
export(strling_sequence)
export(strling_alternation)
export(strling_character_class)
export(strling_class_literal)
export(strling_class_range)
export(strling_class_escape)
export(strling_quantifier)
export(strling_group)
export(strling_anchor)
export(strling_backreference)
export(strling_lookaround)
export(strling_dot)
export(hydrate_ast)
export(compile_ast)
export(sl_start)
export(sl_end)
export(sl_digit)
export(sl_any_of)
export(sl_merge)
export(sl_capture)
export(sl_may)
export(sl_compile)

S3method(compile_ast, strling_literal)
S3method(compile_ast, strling_sequence)
S3method(compile_ast, strling_alternation)
S3method(compile_ast, strling_character_class)
S3method(compile_ast, strling_class_literal)
S3method(compile_ast, strling_class_range)
S3method(compile_ast, strling_class_escape)
S3method(compile_ast, strling_quantifier)
S3method(compile_ast, strling_group)
S3method(compile_ast, strling_anchor)
S3method(compile_ast, strling_backreference)
S3method(compile_ast, strling_lookaround)
S3method(compile_ast, strling_dot)
S3method(compile_ast, default)
