# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
