# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Kotlin
*.kotlin_module
*.kotlin_builtins

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Build outputs
bin/
